/*universal selector*/
*{
	font-family: "Verdana", sans serif;
	font-size: 20px;
}

/*external selector*/
#external{
	color: yellow;
}

/*type selector*/
h1{
	font-size: 60px;
}

/*id selector*/
#h2{
	text-transform: uppercase;
}

/*class selector*/
.list{
	background-color: lightgreen;
}

/*attribute selector*/
[class|="tools"]
{
	border:1px;
	border-style: solid;
	border-color: skyblue;
}

/*adjacent-sibling combi*/
h4+img+ul{
	list-style-type: none;
}

/*descendant sibling combi*/
section img{
	height: 100px;
	width: 100px;
	border-radius: 150px;

}

/*genral sib combi*/
h4 ~ p{
	text-align: right;
	color: black;
}

/*child combi*/
section > ul > li{
	letter-spacing: 5px;
}