/*
	CSS Rules
	Syntax:

	slector{
	property: value;
	}

	h1{
		color:yellow;
	}
	*/
	/*"*" USE TARGET ALL ODF THE ELEMNTS*/
	/*type selector*/
	/*tag name{
		}*/

*{
	font-size: 20px;
	font-family: "Courier New";
}

body{
	background-color: skyblue;
}
html{
	scroll-behavior: smooth;
}

nav{
	background-color: white;
}

/*seelctor : hover psuedo class*/
/*changes the wtyle when hovererd over*/
a:hover{
	background-color: #b4d6de;
}
		color: yellow !important;
		/*!important the most priority*/
	}

	div{
		display: inline-block;
		float: right;
	}

	h1{
		color: yellow !important;
		text-align: center;
		font-size: 2rem;
	}

	/*landing section*/
	section{
		height: 100vh;
		text-align: center;
		font-size: 2rem;
	}

	h2{
		font-size: 1.5rem;

	}
	h2 ~a, a{
		text-decoration: none;
	}

	form{
		text-align: center;
		background-color: white;
		border: 2px solid black;
		height: 185px;
		width: 25vw;
		position: relative;
		left: 37.25%
	}
	button{
		background-color: ##cf0053;
		color: white;
		border:0;
		border-radius: 15px;
	}
	ol{
		list-style-type: none;
	}
	h3{
		letter-spacing: 5px;
	}

	/*ID Selector*/
	/*#id-name*/
	#zuit-motto{
		letter-spacing: 5px;
	}
	/*Class Slector*/
	/*class name*/
	.offeringitem{
		text-transform: uppercase;
	}

	/*Attribute selector*/
	/*tagname[attribute]*/

	input[required]{
		border-width: 2px;
		border-style: solid;
		border-color: blue;
	}

	/*Adhacent sibling selector*/
	/*selector+selector*/
	h3 + img{
		height: 300px;
		width: 300px;
		border-radius: 50%;
	}

	/*descentant selecttor*/
	#bootcamp-learning-list li{
		color: #075966;
	}

	/*genral siling selector*/
	/*selector ~ selector*/
	h2~a{
		text-decoration: none;
	}

	body > section >form > label{
		color: rgb(0,0,128);
	}